@namespace Masa.Blazor
@using Masa.Blazor.Components.VideoFeeder
@inherits MasaComponentBase

<div class="@GetClass()"
     style="@GetStyle()"
     id="@Id"
     @ref="@Ref"
     @attributes="@Attributes">
    @if (Videos.Count > 0)
    {
        <MSwiper Index="@_index"
                 IndexChanged="@IndexChanged"
                 Width="@Width"
                 Height="@Height"
                 Vertical
                 Virtual
                 TouchStartPreventDefault="false"
                 @ref="_swiper">
            @foreach (var item in Videos)
            {
                <MSwiperSlide>
                    <Player Data="@item"
                            @bind-Muted="@_muted"
                            RotateFullscreen="@RotateFullscreen"
                            OnFullscreen="@HandleOnFullscreen"
                            ActionsContent="@ActionsContent"
                            TopContent="@TopContent"
                            BottomContent="@BottomContent"/>
                </MSwiperSlide>
            }
        </MSwiper>
    }
</div>
