@namespace Masa.Blazor.Presets
@typeparam TValue
@inherits PDateTimePickerView<TValue>
@inject I18n I18n

@if (Dialog)
{
    <MDialog Value="_menu"
             ValueChanged="OnMenuChanged"
             ActivatorContent="@ActivatorContent"
             ContentClass="@BasePickerBlock.Build()">
        <ChildContent>
            @ViewContentRenderFragment()
            @ActionsContentRenderFragment()
        </ChildContent>
    </MDialog>
}
else
{
    <MMenu Value="_menu"
           ValueChanged="OnMenuChanged"
           CloseOnContentClick="false"
           OffsetY
           NudgeBottom="1"
           ActivatorContent="@ActivatorContent"
           ContentClass="@BasePickerBlock.Build()">
        <ChildContent>
            @ViewContentRenderFragment()
            @ActionsContentRenderFragment()
        </ChildContent>
    </MMenu>
}

@code {

    private RenderFragment ViewContentRenderFragment() => __builder =>
    {
        @if (Compact)
        {
            <PDateTimeCompactPickerView @bind-Value="_internalDateTime"
                                        ActiveDatePicker="@ActiveDatePicker"
                                        AllowedDates="@AllowedDates"
                                        AllowedHours="@AllowedHours"
                                        AllowedMinutes="@AllowedMinutes"
                                        AllowedSeconds="@AllowedSeconds"
                                        Color="@Color"
                                        DayFormat="@DayFormat"
                                        Disabled="@Disabled"
                                        FirstDayOfWeek="@FirstDayOfWeek"
                                        TimeFormat="@TimeFormat"
                                        Locale="@Locale"
                                        Max="@Max"
                                        Min="@Min"
                                        MonthFormat="@MonthFormat"
                                        NextIcon="@NextIcon"
                                        PrevIcon="@PrevIcon"
                                        Reactive="@Reactive"
                                        Readonly="@Reactive"
                                        Scrollable="@Scrollable"
                                        ShowAdjacentMonths="@ShowAdjacentMonths"
                                        ShowCurrent="@ShowCurrent"
                                        ShowWeek="@ShowWeek"
                                        Transition="@TabItemTransition"
                                        UseSeconds="@UseSeconds"
                                        WeekdayFormat="@WeekdayFormat"
                                        YearFormat="@YearFormat"
                                        YearIcon="@YearIcon"
                                        Dark="Dark"
                                        Light="@Light">
            </PDateTimeCompactPickerView>
        }
        else
        {
            <PDateTimePickerView @bind-Value="_internalDateTime"
                                 ActiveDatePicker="@ActiveDatePicker"
                                 AllowedDates="@AllowedDates"
                                 AllowedHours="@AllowedHours"
                                 AllowedMinutes="@AllowedMinutes"
                                 AllowedSeconds="@AllowedSeconds"
                                 AmPmInTitle="@AmPmInTitle"
                                 Color="@Color"
                                 DayFormat="@DayFormat"
                                 Disabled="@Disabled"
                                 FirstDayOfWeek="@FirstDayOfWeek"
                                 TimeFormat="@TimeFormat"
                                 HeaderDateFormat="@HeaderDateFormat"
                                 HeaderColor="@HeaderColor"
                                 Locale="@Locale"
                                 Max="@Max"
                                 Min="@Min"
                                 MonthFormat="@MonthFormat"
                                 NoTitle="@NoTitle"
                                 NextIcon="@NextIcon"
                                 PrevIcon="@PrevIcon"
                                 Reactive="@Reactive"
                                 Readonly="@Reactive"
                                 Scrollable="@Scrollable"
                                 ShowAdjacentMonths="@ShowAdjacentMonths"
                                 ShowCurrent="@ShowCurrent"
                                 ShowWeek="@ShowWeek"
                                 TitleDateFormat="@TitleDateFormat"
                                 UseSeconds="@UseSeconds"
                                 WeekdayFormat="@WeekdayFormat"
                                 YearFormat="@YearFormat"
                                 YearIcon="@YearIcon"
                                 Dark="Dark"
                                 Light="@Light">
            </PDateTimePickerView>
        }
    };

    private RenderFragment ActionsContentRenderFragment() => __builder =>
    {
        <MDivider />
        <div class="@BasePickerBlock.Element("actions")">
            <MButton Color="primary"
                     Text
                     OnClick="OnConfirm"
                     Dark="@Dark"
                     Light="@Light">
                @I18n.T("$masaBlazor.ok")
            </MButton>
        </div>
    };

}
