@namespace Masa.Blazor.Presets
@typeparam TValue

<div class="m-date-time-picker__view">
    <MDatePicker Value="_dateOnly"
                 ValueChanged="DateChanged"
                 TValue="DateOnly?"
                 AllowedDates="@AllowedDates"
                 ActivePicker="@ActivePicker"
                 Color="@Color"
                 DayFormat="@DayFormat"
                 Disabled="@Disabled"
                 FirstDayOfWeek="@FirstDayOfWeek"
                 HeaderColor="@HeaderColor"
                 HeaderDateFormat="@HeaderDateFormat"
                 Locale="@Locale"
                 Max="@_maxDate"
                 Min="@_minDate"
                 MonthFormat="@MonthFormat"
                 NoTitle="@NoTitle"
                 NextIcon="@NextIcon"
                 PrevIcon="@PrevIcon"
                 Reactive="@Reactive"
                 Readonly="@Readonly"
                 Scrollable="@Scrollable"
                 ShowAdjacentMonths="@ShowAdjacentMonths"
                 ShowCurrent="@ShowCurrent"
                 ShowWeek="@ShowWeek"
                 TitleDateFormat="@TitleDateFormat"
                 WeekdayFormat="@WeekdayFormat"
                 YearFormat="@YearFormat"
                 YearIcon="@YearIcon"
                 Dark="@Dark"
                 Light="@Light">
    </MDatePicker>
    <MTimePicker Value="_timeOnly"
                 ValueChanged="TimeChanged"
                 AllowedHours="@AllowedHours"
                 AllowedMinutes="@AllowedMinutes"
                 AllowedSeconds="@AllowedSeconds"
                 AmPmInTitle="@AmPmInTitle"
                 Color="@Color"
                 Disabled="@Disabled"
                 HeaderColor="@HeaderColor"
                 Format="@TimeFormat"
                 Max="@_maxTime"
                 Min="@_minTime"
                 NoTitle="@NoTitle"
                 Readonly="@Readonly"
                 Scrollable="@Scrollable"
                 UseSeconds="@UseSeconds"
                 Dark="@Dark"
                 Light="@Light"
                 OnHourClick="OnHourClick">
    </MTimePicker>
</div>
