@namespace Masa.Blazor
@using Masa.Blazor.Extensions
@inherits MasaComponentBase

<CascadingValue Value="this" IsFixed="true">
    <CascadingValue Value="IsDark" Name="IsDark">
        <div class="@GetClass()"
             style="@GetStyle()"
             id="@Id"
             @ref="@Ref"
             @attributes="@Attributes">
            @TopContent

            @if (WrapperContent != null)
            {
                @WrapperContent
            }
            else
            {
                var css = _wrapper.AppendClasses(
                    ("scrolled-to-left", HasFixed && _scrollState == 0),
                    ("scrolling", HasFixed && _scrollState == 1),
                    ("scrolled-to-right", HasFixed && _scrollState == 2)
                );

                <div class="@css"
                     style="@CssStyleUtils.GetHeight(Height)"
                     @onscroll="HandleOnScrollAsync"
                     @ref="@WrapperElement">
                    <table style="@CssStyleUtils.GetWidth(Width)">
                        @ChildContent
                    </table>
                </div>
            }

            @BottomContent
        </div>
    </CascadingValue>
</CascadingValue>