@namespace Masa.Blazor
@inherits ThemeComponentBase

<div class="@GetWrapperClass()" style="@GetWrapperStyle()">
    <hr class="@GetHRClass()" style="@GetHRStyle()" id="@Id" @ref="Ref"/>
    @if (ChildContent is not null)
    {
        <span class="@_contentModifierBuilder.Add(Inset).AddTheme(ComputedTheme)">
            @ChildContent
        </span>
    }
</div>