@namespace Masa.Blazor
@inherits MasaComponentBase

<div class="@GetWrapperClass()" style="@GetWrapperStyle()">
    <hr class="@GetHRClass()" style="@GetHRStyle()" id="@Id" @ref="Ref"/>
    @if (ChildContent is not null)
    {
        <span class="@_block.Element("content").Modifier(Inset).AddTheme(IsDark, IndependentTheme)">
            @ChildContent
        </span>
    }
</div>