@namespace Masa.Blazor
@inherits MGroupItem<MExpansionPanels>

<CascadingValue Value="this" IsFixed>
    <div class="@GetClass()"
         style="@GetStyle()"
         id="@Id"
         @ref="Ref"
         @attributes="@Attributes">
        @GenTitle()
        @GenText()
        @ChildContent
    </div>
</CascadingValue>

@code {

    private RenderFragment GenTitle() => __builder =>
    {
        if (!string.IsNullOrWhiteSpace(Title))
        {
            <MExpansionPanelHeader>@Title</MExpansionPanelHeader>
        }
    };


    private RenderFragment GenText() => __builder =>
    {
        if (!string.IsNullOrWhiteSpace(Text))
        {
            <MExpansionPanelContent>@Text</MExpansionPanelContent>
        }
    };

}