@namespace Masa.Blazor.Presets

<div class="row row--dense" style="padding: 8px 8px 4px 8px">
    <MTextField Class="col" TValue="string"
                Value="InternalDate[0]?.ToString(DateFormatString)"
                OnChangeEvent="@OnStartDateChange"
                HideDetails="true"
                Dense
                OnFocus="@OnStartDateFocus"
                Outlined
                Focused="@(_currentIndex == 0 && _customDate)"></MTextField>
    <MTextField Class="col" TValue="string"
                Value="InternalTime[0]?.ToString(TimeFormatString)"
                OnChangeEvent="@OnStartTimeChange"
                HideDetails="true"
                Dense
                OnFocus="@OnStartTimeFocus"
                Outlined
                Focused="@(_currentIndex == 0 && _customTime)"></MTextField>
    <span class="col flex-grow-0 my-auto">~</span>
    <MTextField Class="col" TValue="string"
                Value="InternalDate[1]?.ToString(DateFormatString)"
                OnChangeEvent="@OnEndDateChange"
                HideDetails="true"
                Dense
                OnFocus="@OnEndDateFocus"
                Outlined
                Focused="@(_currentIndex == 1 && _customDate)"></MTextField>
    <MTextField Class="col" TValue="string"
                Value="InternalTime[1]?.ToString(TimeFormatString)"
                OnChangeEvent="@OnEndTimeChange"
                HideDetails="true"
                Dense
                OnFocus="@OnEndTimeFocus"
                Outlined
                Focused="@(_currentIndex == 1 && _customTime)"></MTextField>
</div>
<MDivider/>
<div class="@_modifierBuilder.Add("range").Add(IsEndView ? "end" : "start")">
    <MDatePicker Value="InternalDate"
                 OnDateClick="OnDateClick"
                 ActivePicker="_activePicker"
                 OnActivePickerUpdate="OnActivePickerUpdate"
                 InternalTableDate="@_tableDate"
                 OnPickerDateUpdate="OnPickerDateUpdate"
                 TValue="List<DateOnly?>"
                 Range
                 AllowedDates="@AllowedDates"
                 Color="@Color"
                 DayFormat="@DayFormat"
                 Disabled="@Disabled"
                 FirstDayOfWeek="@FirstDayOfWeek"
                 Locale="@Locale"
                 Max="@MaxDate"
                 Min="@MinDate"
                 MonthFormat="@MonthFormat"
                 NoTitle
                 NextIcon="@NextIcon"
                 PrevIcon="@PrevIcon"
                 Reactive="@Reactive"
                 Readonly="@Readonly"
                 Scrollable="@Scrollable"
                 ShowAdjacentMonths="@ShowAdjacentMonths"
                 ShowCurrent="@ShowCurrent"
                 ShowWeek="@ShowWeek"
                 WeekdayFormat="@WeekdayFormat"
                 YearFormat="@YearFormat"
                 YearIcon="@YearIcon"
                 Theme="@Theme">
    </MDatePicker>
    <MDivider Vertical Style="margin:0"/>
    <MDigitalClock Value="CurrentTime"
                   ValueChanged="TimeChanged"
                   AllowedHours="@AllowedHours"
                   AllowedMinutes="@AllowedMinutes"
                   AllowedSeconds="@AllowedSeconds"
                   AllowedTimes="@AllowedTimes"
                   TValue="TimeOnly?"
                   Color="@Color"
                   Disabled="@Disabled"
                   Height="290"
                   Format="@TimeFormat"
                   Max="@MaxTime"
                   Min="@MinTime"
                   MultiSection="@MultiSection"
                   Readonly="@Readonly"
                   Step="@Step"
                   HourStep="@HourStep"
                   MinuteStep="@MinuteStep"
                   SecondStep="@SecondStep"
                   UseSeconds="@UseSeconds"
                   Theme="@Theme">
    </MDigitalClock>
</div>

