@namespace Masa.Blazor
@using StyleBuilder = Masa.Blazor.Core.StyleBuilder
@inherits Masa.Blazor.Mixins.Menuable.MMenuable

<div style="@GetStyle()"
     class="@GetClass()"
     id="@Id"
     @ref="Ref"
     @attributes="@Attributes">

    @if (IsBooted)
    {
        var css = _contentModifierBuilder
            .Add(Auto)
            .Add("fixed", ActivatorFixed)
            .AddRounded(Tile ? "0" : Rounded)
            .AddClass("menuable__content__active", IsActive)
            .AddClass(ContentClass)
            .AddTheme(IsDark, IndependentTheme)
            .Build();

        <CascadingValue Value="this" IsFixed>
            <CascadingValue Value="IsDark" Name="IsDark">
                <Transition Name="@Transition">
                    <ShowTransitionElement Value="IsActive"
                                           Class="@css"
                                           id="@_contentId"
                                           onscroll="@OnScroll"
                                           ReferenceCaptureAction="el => ContentElement = el">
                        <MShouldRender Value="@IsActive">
                            @ChildContent
                        </MShouldRender>
                    </ShowTransitionElement>
                </Transition>
            </CascadingValue>
        </CascadingValue>
    }

</div>

@ComputedActivatorContent