<div class="d-flex flex-column align-center justify-center">
    <MECharts Option="option" Theme="@theme" @ref="echarts"></MECharts>

    <MRadioGroup TValue="string" Value="theme" ValueChanged="SetTheme" Row>
        <MRadio Label="default"
                Value="@("")">
        </MRadio>
        <MRadio Label="light"
                Value="@("light")">
        </MRadio>
        <MRadio Label="dark"
                Value="@("dark")">
        </MRadio>
        <MRadio Label="vintage"
                Value="@("vintage")">
        </MRadio>
    </MRadioGroup>
</div>

@code{
    private MECharts echarts;
    private string theme;

    private object option = new
    {
        Title = new
        {
            Left = "center",
            Text = "ECharts 入门示例"
        },
        Tooltip = new { },
        Legend = new
        {
            Right = "20px",
            Data = new[] { "销量" }
        },
        XAxis = new
        {
            Data = new[] { "衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子" }
        },
        YAxis = new { },
        Series = new[]
        {
            new
            {
                Name = "销量",
                Type = "bar",
                Data = new[] { 5, 20, 36, 10, 10, 20 }
            }
        }
    };

    private async Task SetTheme(string val)
    {
        Console.WriteLine($"SetTheme: val: {val}");

        if (theme != val && echarts != null)
        {
            Console.WriteLine($"GOTO DisposeECharts");

            await echarts.DisposeECharts();
        }
        
        theme = val;
        Console.WriteLine($"end of SetTheme");
    }

}
