<div class="text-center">
    <MSwitch TValue="bool" Value="_throw" ValueChanged="ValueChanged"
             Label="@("throw exception when loading more")"
             Disabled="_items.Count == 0"
             Class="d-inline-block">
    </MSwitch>
</div>
<MCard Width="500" Height="250"
       Class="overflow-auto" Style="margin: 0 auto"
       @ref="_card">
    <MList>
        @foreach (var item in _items)
        {
            <MListItem>
                <MListItemContent>
                    <MListItemTitle>@item</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MDivider />
        }
    </MList>
    <MInfiniteScroll HasMore="@_hasMore"
                     OnLoadMore="@LoadMore"
                     Parent="@_card.Ref">
    </MInfiniteScroll>
</MCard>

@code {

    private bool _throw;

    private MCard _card;
    private int _count;
    private List<string> _items = new();
    private bool _hasMore;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadMore();
            StateHasChanged();
        }
    }

    private async Task LoadMore()
    {
        var append = await MockRequest();
        _items.AddRange(append);
        _hasMore = append.Count > 0;
    }

    private async Task<List<string>> MockRequest()
    {
        if (_count >= 3)
        {
            return new List<string>();
        }

        await Task.Delay(2000);

        if (_throw)
        {
            throw new TimeoutException();
        }

        _count++;

        return Enumerable.Range(_items.Count, 10).Select(n => n.ToString()).ToList();
    }

    private void ValueChanged(bool val)
    {
        _items = _items.Take(10).ToList();
        _count = 0;
        _hasMore = true;
        _throw = val;
    }

}
