@namespace Masa.Blazor.Presets
@using Masa.Blazor.Presets.PageStack
@inherits PatternPathComponentBase
@inject IJSRuntime JSRuntime

<div class="@GetClass()"
     style="@GetStyle()"
     id="@Id"
     @ref="@Ref"
     @attributes="@Attributes">
    @foreach (var path in _tabbedPaths.OrderBy(u => u.CreatedAt))
    {
        <div class="@_block.Element("item").AddClass("d-none", path.Pattern != _lastActiveTabbedPage?.Pattern)"
             @key="path.Pattern">
            <BShouldRender Value="@(path.Pattern == GetCurrentPatternPath().Pattern)">
                @ChildContent
            </BShouldRender>
        </div>
    }
</div>

<CascadingValue Value="this" IsFixed>
    @for (var i = 0; i < Pages.Count; i++)
    {
        var index = i;
        var path = Pages.ElementAt(index);
        var isTop = i == Pages.Count - 1;
        var canRender = isTop && NavigationManager.GetAbsolutePath().Equals(path.AbsolutePath, StringComparison.OrdinalIgnoreCase);

        Console.Out.WriteLine($"[RenderItem] {path.AbsolutePath} {NavigationManager.GetAbsolutePath()} {canRender}");

        <PPageStackItem Active="@path.Stacked"
                        CanRender="@canRender"
                        OnGoBack="@HandleOnPrevious"
                        SelectorCaptureAction="u => path.Selector = u"
                        Index="index"
                        @key="@path.Id">
            @ChildContent
        </PPageStackItem>
    }
</CascadingValue>