@inject I18n I18n
@attribute [JSCustomElement]

<AppSheet Theme="@Theme">
    <MSimpleTable>
        <thead>
        <tr>
            <th>@I18n.T("browser")</th>
            <th>@I18n.T("support-status")</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Chromium (Chrome, Edge Insider)</td>
            <td>@I18n.T("supported")</td>
        </tr>
        <tr>
            <td>Edge</td>
            <td>@I18n.T("supported")</td>
        </tr>
        <tr>
            <td>Firefox</td>
            <td>@I18n.T("supported")</td>
        </tr>
        <tr>
            <td>Safari 10+</td>
            <td>@I18n.T("supported")</td>
        </tr>
        <tr>
            <td>IE11/Safari 9</td>
            <td>@I18n.T("supported-with-polyfill")</td>
        </tr>
        <tr>
            <td>IE9 / IE10</td>
            <td>@I18n.T("not-supported")</td>
        </tr>
        </tbody>
    </MSimpleTable>
</AppSheet>

@code {

    [Parameter]
    public string? Theme { get; set; }

}