<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["_content/Masa.Blazor/css/masa-blazor.min.css"]"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["TemplateTableSample.UI.styles.css"]"/>
    <link rel="stylesheet" href="css/materialdesign/v7.1.96/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="_content/Masa.Blazor.Components.TemplateTable/component.css"/>
    <ImportMap/>
    <HeadOutlet @rendermode="@InteractiveServer"/>
</head>

<body>
<Routes @rendermode="@InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="@Assets["_content/Masa.Blazor/js/masa-blazor.js"]"></script>
</body>

</html>