<MCard Class="mx-auto"
       Width="300">
    <p>Selected Value: @_selected</p>
    <MList>
        <MListItemGroup @bind-Value="_selected" Mandatory Color="indigo">
            <MListItem Link Value="@("home")">
                <MListItemIcon>
                    <MIcon>mdi-home</MIcon>
                </MListItemIcon>

                <MListItemTitle>Home</MListItemTitle>
            </MListItem>

            <MListGroup Color="indigo" Value PrependIcon="mdi-account-circle">
                <Activator>
                    <MListItemTitle>Users</MListItemTitle>
                </Activator>
                <ChildContent>
                    <MListGroup Color="indigo" Value NoAction SubGroup>
                        <Activator>
                            <MListItemContent>
                                <MListItemTitle>Admin</MListItemTitle>
                            </MListItemContent>
                        </Activator>
                        <ChildContent>
                            @foreach (var item in _admins)
                            {
                                <MListItem Link Value="@item.Text">
                                    <MListItemTitle>@item.Text</MListItemTitle>

                                    <MListItemIcon>
                                        <MIcon>@item.Icon</MIcon>
                                    </MListItemIcon>
                                </MListItem>
                            }
                        </ChildContent>
                    </MListGroup>

                    <MListGroup Color="indigo" NoAction SubGroup>
                        <Activator>
                            <MListItemContent>
                                <MListItemTitle>Actions</MListItemTitle>
                            </MListItemContent>
                        </Activator>
                        <ChildContent>
                            @foreach (var item in _cruds)
                            {
                                <MListItem Link Value="@item.Text">
                                    <MListItemTitle>@item.Text</MListItemTitle>

                                    <MListItemIcon>
                                        <MIcon>@item.Icon</MIcon>
                                    </MListItemIcon>
                                </MListItem>
                            }
                        </ChildContent>
                    </MListGroup>
                </ChildContent>
            </MListGroup>
        </MListItemGroup>
    </MList>
</MCard>

@code {
    private StringNumber _selected = "home";

    private Item[] _admins = new Item[]
    {
       new Item { Text= "Management", Icon= "mdi-account-multiple-outline" },
       new Item { Text= "Settings", Icon= "mdi-cog-outline" }
    };

    private Item[] _cruds = new Item[]
    {
       new Item { Text= "Create", Icon= "mdi-plus-outline" },
       new Item { Text= "Read", Icon= "mdi-file-outline" },
       new Item { Text= "Update", Icon= "mdi-update" },
       new Item { Text= "Delete", Icon= "mdi-delete" }
    };

    class Item
    {
        public string Text { get; set; }
        public string Icon { get; set; }
    }
}