@page "/blazor/examples/page-stack/page4"
@layout PageStackLayout
@inject PageStackNavController NavController

<PStackPageBar Title="Page 4" />

<p class="caption">url: /blazor/examples/page-stack/page4</p>

<div>
    <p class="text-h6">Page 4 created at @(_pageCreatedAt.ToString("HH:mm:ss zz"))</p>

    <ul>
        <li>
            <a @onclick="@(() => NavController.Pop("AAA"))">AAA</a>
        </li>
        <li>
            <a @onclick="@(() => NavController.Pop("BBB"))">BBB</a>
        </li>
        <li>
            <a @onclick="@(() => NavController.Pop("CCC"))">CCC</a>
        </li>
    </ul>
</div>

<MSyntaxHighlight Code="@sourceCode"
                  Language="razor"
                  Style="font-size: 10px">
</MSyntaxHighlight>