@namespace MASA.Blazor.Presets

<MDialog ContentClass="@($"m-dialog--drawer {ComputedClass} {Class}")"
         Persistent="Persistent"
         Transition="@ComputedTransition"
         Value="Value"
         ValueChanged="ValueChanged"
         Width="Width">
    <ActivatorContent>
        @ActivatorContent?.Invoke(context)
    </ActivatorContent>
    <ChildContent>
        <MCard Class="@ContentClass"
               Style="@ContentStyle"
               Elevation="0"
               Height="@("100%")">
            <MCardTitle>
                @Title
                <MSpacer></MSpacer>
                <MButton Icon>
                    <MButton Icon OnClick="HandleOnCancel">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                </MButton>
            </MCardTitle>

            <MDivider/>

            <MCardText Style="@($"overflow-y: auto;padding: 24px;{ComputedContentHeight}")">
                @ChildContent
            </MCardText>

            @if (OnOk.HasDelegate)
            {
                <div style="position: absolute;left: 0;right: 0;bottom: 0">
                    <MDivider/>
                    <MCardActions >
                        <MSpacer></MSpacer>

                        <MButton OnClick="HandleOnCancel" @attributes="@InternalCancelButtonProps.ToDictionary()">
                            @if (CancelContent != default)
                            {
                                @CancelContent
                            }
                            else
                            {
                                @CancelText
                            }
                        </MButton>

                        <MButton Loading="_okLoading" OnClick="HandleOnOk" @attributes="@InternalOkButtonProps.ToDictionary()">
                            @if (OkContent != default)
                            {
                                @OkContent
                            }
                            else
                            {
                                @OkText
                            }
                        </MButton>
                    </MCardActions>
                </div>
            }
        </MCard>
    </ChildContent>
</MDialog>