@namespace Masa.Blazor.Presets

<div class="m-captcha-container">
    <MTextField TValue="string"
                Outlined="@Outlined"
                Solo="@Solo"
                Filled="@Filled"
                Dense="@Dense"
                Dark="@Dark"
                Light="@Light"
                Shaped="@Shaped"
                Value="@Value"
                ValueChanged="@ValueChanged"
                Placeholder="@Placeholder"
                Clearable="@Clearable"
                ClearIcon="@ClearIcon"
                Rounded="@Rounded"
                Style="@TextFieldStyle"
                Class="@TextFieldClass"
                Height="@Height"
                Rules="@rules"
                Label="@Label"
                @ref="TextFieldElement">
        <AppendOuterContent>
            <MImage MinWidth="@CaptchaWidth" MinHeight="@CaptchaHeight" Src="@ImageUrl" @onclick="OnClickAsync" Style="@ImageStyle" Class="@ImageClass"></MImage>
        </AppendOuterContent>
    </MTextField>
</div>


