<MCard Flat
       Class="py-12">
    <MCardText>
        <MRow Align="@AlignTypes.Center"
              Justify="@JustifyTypes.Center">
            <MCol Cols="12">
                <p class="text-center">
                    Multiple
                </p>
            </MCol>
            <MButtonGroup @bind-Values="values"
                          Multiple>
                <MButton Value="@("left")">
                    <MIcon>mdi-format-align-left</MIcon>
                </MButton>
                <MButton Value="@("center")">
                    <MIcon>mdi-format-align-center</MIcon>
                </MButton>
                <MButton Value="@("right")">
                    <MIcon>mdi-format-align-right</MIcon>
                </MButton>
                <MButton Value="@("justify")">
                    <MIcon>mdi-format-align-justify</MIcon>
                </MButton>
            </MButtonGroup>
            <MCol Cols="12"
                  Class="text-center">
                Values: [@(string.Join(',', values))]
            </MCol>
        </MRow>
    </MCardText>
</MCard>

@code {
    List<StringNumber> values = new();
}