<MRow NoGutters>
    <MCol Span="4">
        <div>
            <MButton Icon Click="() => width-=5"><MIcon>mdi-minus</MIcon></MButton>
            @width
            <MButton Icon Click="() => width+=5"><MIcon>mdi-plus</MIcon></MButton>
        </div>
    </MCol>
    <MCol Span="8">
        <MRadioGroup @bind-Value="size" Row="true">
            <MRadio Label="XSmall" Value="0"></MRadio>
            <MRadio Label="Small" Value="1"></MRadio>
            <MRadio Label="Default" Value="2"></MRadio>
            <MRadio Label="Large" Value="3"></MRadio>
            <MRadio Label="XLarge" Value="4"></MRadio>
        </MRadioGroup>
    </MCol>
</MRow>

<div style="@($"display:inline-block;width:{width}px")">
    <MASA.Blazor.Presets.PAction Small="@Small" XSmall="@XSmall" Large="@Large" XLarge="@XLarge"
                                 Label="This is an order page!" OnClick="OnSearch" Icon="mdi-heart">
    </MASA.Blazor.Presets.PAction>
</div>

<div style="@($"display:inline-block;width:{width}px")">
    <MASA.Blazor.Presets.PAction Small="@Small" XSmall="@XSmall" Large="@Large" XLarge="@XLarge"
                                 Label="This is an order page!" OnClick="OnSearch" Icon="mdi-heart" 
                                 Persistent>
    </MASA.Blazor.Presets.PAction>
</div>

@code {
    private int width = 236;

    private int size = 2;

    private bool XSmall => size == 0;
    private bool Small => size == 1;
    private bool Large => size == 3;
    private bool XLarge => size == 4;

    private async Task OnSearch()
    {
        await Task.Delay(1000);
    }
}