@namespace Masa.Blazor.Components.DataTable
@typeparam TItem
@inherits BDomComponentBase

<tr class="@CssProvider.GetClass()" @attributes="Attributes">
    @foreach (var header in Headers)
    {
        var props = new ItemColProps<TItem>(header, Item);
        var title = header.Ellipsis is { Enabled: true, HideTitle: false } ? props.Value : null;

        <td class="@CssProvider.GetClass("cell", data: header)"
            style="@CssProvider.GetStyle("cell", data: header)"
            title="@title">
            @{
                if (HasSlot(props))
                {
                    @SlotContent(props)
                }
                else
                {
                    @props.Value
                }
            }
        </td>
    }
</tr>