@namespace Masa.Blazor.Components.DataTable
@typeparam TItem
@inherits BDomComponentBase

<tr class="@CssProvider.GetClass()" @attributes="Attributes">
    @foreach (var header in Headers)
    {
        var props = new ItemColProps<TItem>(header, Item);
        <td class="@CssProvider.GetClass("cell", data: header)"
            style="@CssProvider.GetStyle("cell", data: header)"
            title="@props.Value">
            @{
                if (HasSlot(props))
                {
                    @SlotContent(props)
                }
                else
                {
                    @props.Value
                }
            }
        </td>
    }
</tr>