@namespace Masa.Blazor
@inherits Masa.Blazor.Components.Bootable.MBootable

<CascadingValue Value="IsDark" Name="IsDark">

    @ComputedActivatorContent

    <CascadingValue Value="this" IsFixed>
        <div class="@_block.Element("container").Modifier("attached", Attach != null).AddClass(Class)"
             style="@Style"
             id="@Id"
             @ref="Ref"
             role="dialog"
             @attributes="@Attributes">
            @if (IsBooted)
            {
                <div class="@_block.Element("content").Modifier("active", IsActive).AddTheme(IsDark, IndependentTheme)"
                     style="z-index: @ZIndex"
                     @onkeydown="@Keydown"
                     @ref="@ContentRef"
                     @attributes="@ContentAttrs">

                    <Transition Name="@Transition">
                        <ShowTransitionElement Value="@IsActive"
                                               Class="@GetClass()"
                                               Style="@GetStyle()"
                                               ReferenceCaptureAction="r => DialogRef = r">
                            @(OutcomeContent?.Invoke(_contentContext!) ?? ChildContent)
                        </ShowTransitionElement>
                    </Transition>

                </div>

                if (ShowOverlay)
                {
                    <MOverlay ScrimClass="@OverlayScrimClass"
                              Value="@IsActive"
                              ZIndex="@(ZIndex - 1)"
                              @ref="Overlay">
                    </MOverlay>
                }
            }
        </div>
    </CascadingValue>

</CascadingValue>