@namespace Masa.Blazor.Components.TemplateTable.FilterDialogs
@inject I18n i18N;
@inject ITemplateTableComponent ComponentService

@{
    var modalRender = ComponentService.RenderFilterDialog(i18N, Width, Show,
        EventCallback.Factory.Create<bool>(this, value => Show = value),
        EventCallback.Factory.Create<ModalActionEventArgs>(this, value => HandleOnSave()),
       EventCallback.Factory.Create<ModalActionEventArgs>(this, val => HandleOnCancel()),
       ChildContent()
    );
    @modalRender
}

@code {

    [Parameter] public IList<ColumnInfo> Columns { get; set; } = [];

    /// <summary>
    /// Use this to filter out hidden columns when selecting columns.
    /// </summary>
    [Parameter] public HashSet<string> HiddenColumnIds { get; set; } = [];

    [Parameter] public View? ActiveView { get; set; }

    [Parameter] public EventCallback<Filter> OnSave { get; set; }

    [Parameter] public Filter Filter { get; set; } = new();

    [Parameter] public EventCallback<Filter> FilterChanged { get; set; }

    [Parameter] public StringNumber Width { get; set; } = 720;

    [Parameter] public bool Show { get; set; }

    [Parameter] public EventCallback<bool> ShowChanged { get; set; }

    private static readonly IList<string> Operators = ["and", "or"];

    private static readonly HashSet<StandardFilter> _noExpectedFuncs =
    [
        StandardFilter.Set,
        StandardFilter.NotSet,
        StandardFilter.True,
        StandardFilter.False
    ];

    private HashSet<string> _prevHiddenColumnIds = [];
    private Guid _prevActiveViewId;

    private IList<ColumnInfo> _computedColumns = [];

    /// <summary>
    /// accepted values: "and", "or"
    /// </summary>
    private string _operator = "and";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Show && ActiveView is not null)//&& (_prevActiveViewId != ActiveView.Id || !_prevHiddenColumnIds.SetEquals(HiddenColumnIds)))
        {
            _prevActiveViewId = ActiveView.Id;
            _prevHiddenColumnIds = HiddenColumnIds;
            _computedColumns = Columns.Where(u => !HiddenColumnIds.Contains(u.Id)).Where(u => u.Type != ColumnType.Actions).ToList();

            _filters.Clear();
            foreach (var option in Filter.Options)
            {
                var columnName = option.ColumnId;
                var column = Columns.FirstOrDefault(u => u.Id == option.ColumnId || option.Type == ExpectedType.DateTime && u.Id.StartsWith(option.ColumnId));

                if (column is null)
                {
                    continue;
                }

                var filterOption = new FilterModel(column)
                {
                    Func = option.Func,
                    Expected = option.Expected,
                    Persistent = option.Persistent,
                    Type = option.Type,
                };

                _filters.Add(filterOption);
            }

            _operator = Filter.Operator == FilterOperator.And ? "and" : "or";
        }
    }

    private readonly List<FilterModel> _filters = [];

    internal void Open()
    {
        Show = true;
        StateHasChanged();
    }

    private void AddNewFilter()
    {
        if (Columns.Count == 0)
        {
            return;
        }

        var filter = new FilterModel(Columns[0]);

        _filters.Add(filter);
    }

    private void RemoveFilter(FilterModel filterModel)
    {
        if (filterModel.Persistent)
        {
            return;
        }

        _filters.Remove(filterModel);
    }

    private void OnMultiSelect(FilterModel filter)
    {
        filter.Expected = "{ in: [" + string.Join(",", filter.MultiSelect.Select(u => $"\"{u}\"")) + "]}";
    }

    private async Task HandleOnSave()
    {
        await HandleOnCancel();

        Filter.Options = [.. _filters.Select(u => u.ToFilterOption())];
        Filter.Operator = _operator == "and" ? FilterOperator.And : FilterOperator.Or;

        if (FilterChanged.HasDelegate)
            await FilterChanged.InvokeAsync(Filter);
    }

    private async Task HandleOnCancel()
    {
        Show = false;
        if (ShowChanged.HasDelegate)
            await ShowChanged.InvokeAsync(Show);
    }

    private void OnFuncChange(int index, StandardFilter func)
    {
        var filter = _filters[index];
        filter.Func = func;
        if (filter.Column.Type == ColumnType.Select)
        {
            if (func is StandardFilter.Contains or StandardFilter.NotContains)
            {
                filter.Type = ExpectedType.Expression;
            }
            else
            {
                filter.Type = ExpectedType.String;
            }
        }
    }

    private void TimeChange(int index, DateTime? time)
    {
        var filter = _filters[index];
        filter.Expected = time?.ToString();
    }

    private void ValueChange(int index, List<string> values)
    {
        var filter = _filters[index];
        var value = string.Join("\",\"", values.Where(s => s.Length > 0));
        var tt = $"[\"{value}\"]";
        filter.Expected = values.Count == 0 ? "[]" : tt;
    }

    private string GetFuncI18n(StandardFilter filter, ColumnType type)
    {
        return filter switch
        {
            StandardFilter.Contains =>
                 type switch
                 {
                     ColumnType.Text => "Like",
                     ColumnType.Email => "Like",
                     ColumnType.Phone => "Like",
                     ColumnType.Link => "Like",
                     ColumnType.Image => "Like",
                     _ => filter.ToString()
                 },
            StandardFilter.NotContains =>
                 type switch
                 {
                     ColumnType.Text => "Not_Like",
                     ColumnType.Email => "Not_Like",
                     ColumnType.Phone => "Not_Like",
                     ColumnType.Link => "Not_Like",
                     ColumnType.Image => "Not_Like",
                     _ => filter.ToString()
                 },
            _ => filter.ToString()
        };
    }

    private RenderFragment ChildContent() => __builder =>
     {

         for (int i = 0; i < _filters.Count; i++)
         {
             var index = i;
             var filter = _filters[index];
             if (filter.Persistent) continue;
             <div class="d-flex align-center mb-2">
                 <div style="flex: none;"
                      class="mr-2 text-right">
                     @if (index == 0)
                     {
                         <span>@i18N.T("When")</span>
                     }
                     @* else if (index == 1)
                {
                    <MSelect @bind-Value="@_operator"
                             Items="@Operators"
                             ItemText="u => u"
                             ItemValue="u => u"
                             Class="filter-operator"
                             Dense
                             Outlined
                             HideDetails="@true">
                    </MSelect>
                } *@
                     else
                     {
                         <span>@i18N.T(@_operator)</span>
                     }
                 </div>


                 @{
                     var columnRender = ComponentService.RenderFilterDialogColumnInfo(i18N, filter, _computedColumns, EventCallback.Factory.Create<string>
                     (this, val => filter.ColumnId = val), EventCallback.Factory.Create<ValueTuple<ColumnInfo, bool>>(this, val => filter.OnSelect(val)));

                     @columnRender

                     var funcRender = ComponentService.RenderFilterDialogFunc(i18N, filter, filter.FuncList, EventCallback.Factory.Create<StandardFilter>(this, value => OnFuncChange(index, value)), GetFuncI18n);

                     @funcRender


                     @if ((filter.Func is StandardFilter.Equals or StandardFilter.NotEquals or StandardFilter.Contains or StandardFilter.NotContains) && filter.SelectOptions is not null && filter.SelectOptions.Count > 0)
                     {
                         if (filter.Func is StandardFilter.Contains or StandardFilter.NotContains)
                         {
                             var multiRender = ComponentService.RenderFilterDialogMultiValues(i18N, filter, EventCallback.Factory.Create<List<string>>(this, values => ValueChange(index, values)));
                             @multiRender
                         }
                         else
                         {
                             var valueRender = ComponentService.RenderFilterDialogValue(i18N, filter, EventCallback.Factory.Create<string>(this, val => filter.Expected = val));
                             @valueRender
                         }
                     }
                     else if (filter.Type == ExpectedType.DateTime && (filter.Func is not StandardFilter.Set && filter.Func is not StandardFilter.NotSet))
                     {
                         var timeRender = ComponentService.RenderFilterDialogDateTimeValue(i18N, filter, EventCallback.Factory.Create<DateTime?>(this, time => TimeChange(index, time)));
                         @timeRender
                     }
                     else if (!_noExpectedFuncs.Contains(filter.Func))
                     {
                         var valueRender = ComponentService.RenderFilterDialogTextValue(i18N, filter, EventCallback.Factory.Create<string>(this, val => filter.Expected = val));
                         @valueRender
                     }
                 }

                 @if (filter.Persistent)
                 {
                     <div style="min-width: 36px;"></div>
                 }
                 else
                 {
                     var removeRender = ComponentService.RenderFilterDialogRemoveButton(i18N, filter, EventCallback.Factory.Create<MouseEventArgs>(this, e => RemoveFilter(filter)));
                     @removeRender
                 }
             </div>
         }

         var addRender = ComponentService.RenderFilterDialogAddButton(i18N, EventCallback.Factory.Create<MouseEventArgs>(this, AddNewFilter));
         @addRender
     };
}