@page "/"
@layout MainLayout
@inject DocService DocService
@inject I18n I18n

<MContainer Fluid>
    <MResponsive Class="mx-auto overflow-visible overview" MaxWidth="1260">
        @if (_loading)
        {
            <MSkeletonLoader Type="card" Class="mb-2"></MSkeletonLoader>
            <MSkeletonLoader Type="card" Class="mb-2"></MSkeletonLoader>
            <MSkeletonLoader Type="card" Class="mb-2"></MSkeletonLoader>
            <MSkeletonLoader Type="card" Class="mb-2"></MSkeletonLoader>
        }
        else
        {
            <div class="project">
                <div class="heading-5">@I18n.T("getting-started")</div>
                @ProductCard(s_gettingStartedNavs)
            </div>

            @foreach (var (project, navs) in _projectToNavs.OrderByDescending(u => u.Key))
            {
                <div class="project">
                    <div class="heading-5">@I18n.T("product", project)</div>

                    @{
                        var groupedNavs = navs.GroupBy(u => u.Children is null || u.Children.Count == 0).ToList();
                        var groupNavsWithoutChildren = groupedNavs.FirstOrDefault(u => u.Key);
                        if (groupNavsWithoutChildren is not null)
                        {
                            @ProductCard(groupNavsWithoutChildren.Select(u => (u.Title, u.Href)))
                        }

                        var groupNavsWithChildren = groupedNavs.FirstOrDefault(u => u.Key == false);
                        if (groupNavsWithChildren is not null)
                        {
                            foreach (var navItem in groupNavsWithChildren)
                            {
                                if (navItem.Tiling is NavItemTiling.Invisible)
                                {
                                    continue;
                                }

                                var children = navItem.Tiling is NavItemTiling.Some ? navItem.Children.Where(s => s.Tiling == NavItemTiling.Visible) : navItem.Children;

                                @ProductCard(children.Select(u => (u.Title, u.Href)), navItem.Title)
                            }
                        }
                    }
                </div>
            }
        }
    </MResponsive>
</MContainer>

@code {

    [CascadingParameter]
    private CultureInfo Culture { get; set; } = null!;

    private static readonly List<(string title, string href)> s_gettingStartedNavs = new()
    {
        ("why-masa-blazor", "/blazor/introduction/why-masa-blazor")
    };

    private readonly Dictionary<string, List<NavItem>> _projectToNavs = new();

    private bool _loading;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _loading = true;

            StateHasChanged();

            var projectMap = await DocService.ReadProjectMapAsync();

            await Parallel.ForEachAsync(projectMap.Keys, async (project, _) =>
            {
                try
                {
                    _projectToNavs[project] = await DocService.ReadNavsAsync(project);
                }
                catch (Exception)
                {
                    _projectToNavs.Remove(project);
                }
            });

            _loading = false;

            StateHasChanged();
        }
    }

    private RenderFragment ProductCard(IEnumerable<(string title, string href)> items, string? group = null) => __builder =>
    {
        <div class="project-content">
            @if (group is not null)
            {
                <div class="project-content__title">@I18n.T(group)</div>
            }
            <MCard Outlined Flat Class="py-6 px-12 m-card--doc">
                <MRow Dense NoGutters>
                    @foreach (var (title, href) in items)
                    {
                        <MCol Cols="4">
                            @LinkableTitle(title, href)
                        </MCol>
                    }
                </MRow>
            </MCard>
        </div>
    };

    private RenderFragment LinkableTitle(string title, string href) => __builder =>
    {
        <MButton Text Href="@href" Class="ordinary-text text-none">@I18n.T(title)</MButton>
    };

}
