<MCard Class="mx-auto" MaxWidth="@Width" Elevation="@Elevation">
    @if (!HideLogo)
    {
        <MCardTitle Class="justify-center pt-9">
            <MIcon Large Left Color="purple">fas fa-seedling</MIcon>
            Masa.Test
        </MCardTitle>
    }

    <MCardTitle Class="pt-3 text-h5"> Reset Password 🔒</MCardTitle>
    <MCardSubtitle Class="pt-2 mb-2 text-subtitle-1">
        Please sign-in to your account and start the adventure
    </MCardSubtitle>

    <MCardText>
        <MTextField TValue="string" Class="mt-2" Label="New Password" Type="@(_show ? "text" : "password")"
                    Placeholder="·········" AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")" OnAppendClick="()=>_show = !_show"
                    Outlined Dense></MTextField>

        <MTextField TValue="string" Class="mt-2" Label="Confirm Password" Type="@(_show ? "text" : "password")"
                    Placeholder="·········" AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")" OnAppendClick="()=>_show = !_show"
                    Outlined Dense></MTextField>

        <MButton Color="#7367f0" Dark Block>Set New Password</MButton>
        <MRow NoGutters Justify="JustifyTypes.Center" Class="mt-5">
            <a style="color:#7367f0;text-decoration:none;"
               onclick="@(()=>Navigation.NavigateTo(Navigation.BaseUri+SignInRoute))">
                @("<") &nbsp;Back to login
            </a>
        </MRow>
    </MCardText>
</MCard>

@code {

    private bool _show;

    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public bool HideLogo { get; set; }

    [Parameter]
    public double Width { get; set; } = 410;

    [Parameter]
    public StringNumber? Elevation { get; set; }

    [Parameter]
    public string SignInRoute { get; set; } = $"pages/authentication/login-v1";
}