@inherits MasaComponentBase
@namespace Masa.Blazor.Components.VideoFeed

<MThemeProvider WithBackground
                Class="@_controlsModifierBuilder.Add(Fullscreen).ToString()"
                Theme="dark">
    <div class="m-video-feed__info @(_dragging ? "dragging" : "")" @onclick:stopPropagation="true">
        <div class="d-flex align-end justify-space-between">
            <div style="max-width: 70%">
                <div class="text-truncate text-subtitle-1">@Title</div>
                <div class="text--secondary text-body-2">@Subtitle</div>
            </div>
            @ActionsContent
        </div>
    </div>

    <div class="m-video-feed__progress-bar @(_dragging ? "dragging" : "")" @onclick:stopPropagation>
        <div class="duration">
            @DurationToString(_currentTime) <span
                class="text--secondary">/ @DurationToString(VideoMetadata.Duration)</span>
        </div>
        <Transition Name="fade-transition">
            <ShowTransitionElement Value="VideoMetadata.Duration > 15 || _move || !IsPlaying">
                <MSlider @bind-Value="@_currentTime"
                         Min="0"
                         Max="@VideoMetadata.Duration"
                         Step="0.5"
                         Color="white"
                         Style="width: 100%;"
                         HideDetails="true"
                         TValue="double"
                         OnStart="@OnStart"
                         OnEnd="@OnEnd">
                </MSlider>
            </ShowTransitionElement>
        </Transition>
    </div>

    @if (Fullscreen)
    {
        <div class="m-video-feed__fullscreen-info" @onclick:stopPropagation>
            <MButton IconName="mdi-arrow-up"
                     OnClick="@CloseFullscreen"></MButton>
            <div style="max-height: 50%;">
                <div class="text-truncate text-subtitle-1">@Title</div>
                <div class="text--secondary text-body-2">@Subtitle</div>
            </div>
        </div>

        <MSlider @bind-Value="@_currentTime"
                 Class="m-video-feed__fullscreen-progress-bar"
                 Rtl
                 Min="0"
                 Max="@VideoMetadata.Duration"
                 Step="0.5"
                 Vertical
                 Color="white"
                 HideDetails="true"
                 TValue="double"
                 OnStart="@OnStart"
                 OnEnd="@OnEnd">
        </MSlider>
    }

    <MIcon Class="@_playBtnModifierBuilder.Add("paused", !IsPlaying).ToString()"
           Size="100">
        mdi-play
    </MIcon>
</MThemeProvider>
