<div style="max-width:500px">
    <MList>
        <MListItemGroup @bind-Values="@selected" Multiple Color="primary">
            @foreach (var item in _items)
            {
                <MListItem Key="@item.Text">
                    <MListItemIcon>
                        <MIcon>@item.Icon</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>@item.Text</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            }
        </MListItemGroup>
    </MList>

    <span>@string.Join(',', selected)</span>
</div>

@code {

    public class Item
    {
        public string Icon { get; set; }
        public string Text { get; set; }
    }

    static readonly Item[] _items =
    {
        new()
        {
            Icon = "mdi-inbox",
            Text = "Inbox"
        },
        new()
        {
            Icon = "mdi-star",
            Text = "Star"
        },
        new()
        {
            Icon = "mdi-send",
            Text = "Send"
        },
        new()
        {
            Icon = "mdi-email-open",
            Text = "Drafts"
        }
    };

    List<string> selected = _items.Where(u => u.Text == "Star").Select(u => u.Text).ToList();
}