@namespace Masa.Blazor
@inherits MasaComponentBase

@if (NoWrapper)
{
    @((MarkupString)_mdHtml)
}
else
{
    <div class="@GetClass()" style="@GetStyle()" id="@Id" @attributes="@Attributes" @ref="Ref">
        @((MarkupString)_mdHtml)
    </div>
}
