@page "/api/{componentName}"
@layout ApiLayout
@using MASA.Blazor.Doc.Services
@inherits OwningComponentBase<DemoService>

<SectionContent Title="@($"{ComponentName} API")" Id="@ComponentName" IsAnchor Level="1">
    @if (_api != null)
    {
        <SectionContent Title="组件页面" Level="2" IsAnchor>
            <ul>
                @if (_api.Components != null)
                {
                    foreach (var component in _api.Components)
                    {
                        var href = "/components/" + component;
                        <li>
                            <ALink Href="@href.StructureUrl()">@component</ALink>
                        </li>
                    }
                }
            </ul>
            <div>
                <MRow NoGutters>
                    <MCol>
                        <h2 class="text-capitalize m-heading text-h4 text-sm-h4 mb-3" id="@("属性".HashSection())">
                            <a class="text-decoration-none text-right text-md-left"> # </a> 属性
                        </h2>
                        <MSheet Class="overflow-hidden mb-4" Outlined Rounded="true">
                            <MDataTable Headers="_headers" Class="api-table" Items="_api.Props" ItemsPerPage="int.MaxValue" HideDefaultFooter>
                                <ItemContent>
                                    <tr class="regular-row">
                                        <td>
                                            <span class="text-mono font-weight-bold" style="color: rgb(128,0,128)">
                                                @context.Item.Name
                                            </span>
                                        </td>
                                        <td>
                                            <div class="text-mono" style="color: rgb(43,145,175)">
                                                @context.Item.Type
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-mono" style="color:blue">
                                                @context.Item.Default
                                            </div>
                                        </td>
                                        <td>
                                            <div class="m-markdown">
                                                <p>
                                                    @context.Item.Description
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </ItemContent>
                            </MDataTable>
                        </MSheet>
                    </MCol>
                </MRow>
                <MRow NoGutters>
                    <MCol>
                        <h2 class="text-capitalize m-heading text-h4 text-sm-h4 mb-3" id="@("插槽".HashSection())">
                            <a class="text-decoration-none text-right text-md-left"> # </a> 插槽
                        </h2>
                        <MSheet Class="overflow-hidden mb-4" Outlined Rounded="true">
                            <MDataTable Headers="_headers2" Class="api-table" Items="_api.Contents" ItemsPerPage="int.MaxValue" HideDefaultFooter>
                                <ItemContent>
                                    <tr class="regular-row">
                                        <td>
                                            <span class="text-mono font-weight-bold" style="color: rgb(128,0,128)">
                                                @context.Item.Name
                                            </span>
                                        </td>
                                        <td>
                                            <div class="m-markdown">
                                                <p>
                                                    @context.Item.Description
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </ItemContent>
                            </MDataTable>
                        </MSheet>
                    </MCol>
                </MRow>
                <MRow NoGutters>
                    <MCol>
                        <h2 class="text-capitalize m-heading text-h4 text-sm-h4 mb-3" id="@("事件".HashSection())">
                            <a class="text-decoration-none text-right text-md-left"> # </a> 事件
                        </h2>
                        <MSheet Class="overflow-hidden mb-4" Outlined Rounded="true">
                            <MDataTable Headers="_headers2" Class="api-table" Items="_api.Events" ItemsPerPage="int.MaxValue" HideDefaultFooter>
                                <ItemContent>
                                    <tr class="regular-row">
                                        <td>
                                            <span class="text-mono font-weight-bold" style="color: rgb(128,0,128)">
                                                @context.Item.Name
                                            </span>
                                        </td>
                                        <td>
                                            <div class="m-markdown">
                                                <p>
                                                    @context.Item.Description
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </ItemContent>
                            </MDataTable>
                        </MSheet>
                    </MCol>
                </MRow>
            </div>
        </SectionContent>
    }

    <SectionContent Class="mt-12" Title="了解更多？" Level="1">
        <div class="mb-3">
            继续学习由
            <ALink Href="/about/meet-the-team">我们的团队</ALink>
            选择的相关内容，或通过使用下面的导航链接在页面之间跳转。
        </div>
        <MRow Dense>
            <MCol Cols="4">
                <MSheet Class="overflow-hidden" Outlined Rounded="true" MinHeight="61"></MSheet>
            </MCol>
            <MCol Cols="4">
                <MSheet Class="overflow-hidden" Outlined Rounded="true" MinHeight="61"></MSheet>
            </MCol>
            <MCol Cols="4">
                <MSheet Class="overflow-hidden" Outlined Rounded="true" MinHeight="61"></MSheet>
            </MCol>
        </MRow>
        <MDivider Class="my-6 mt-7 mb-5"></MDivider>
        <div class="d-flex mb-4">
            <a class="text-decoration-none text-body-1">
                <span class="text-h6 text--primary">←&nbsp;</span>
                <span>上一页</span>
            </a>
            <MSpacer></MSpacer>
            <a class="text-decoration-none text-body-1">
                <span>下一页</span>
                <span class="text-h6 text--primary">&nbsp;→</span>
            </a>
        </div>
        <MSheet Class="m-app-ad d-inline-flex flex-child-1 grow-shrink-0 my-2 m-vuetify-ad mb-8" Outlined Rounded="true" MinHeight="74" Style="width:100%"></MSheet>
    </SectionContent>
</SectionContent>