@page "/components/{name}"
@page "/components"
@using MASA.Blazor.Doc.Models
@using MASA.Blazor.Doc.Services
@using MASA.Blazor.Doc.Utils
@using System.Web
@inherits OwningComponentBase<DemoService>
@layout DocLayout

@if (_demoComponent != null)
{
    <SectionContent Title="@_demoComponent.Title" SubTitle="@_demoComponent.Subtitle" Id="@_demoComponent.Title" Level="1" IsAnchor>

        @((MarkupString)_demoComponent.Desc.FormatLink())

        @if (Usage != null)
        {
            var index = _demoIndex++;
            <SectionContent Title="@Usage.Title" Level="2" IsAnchor>
                <CodeBox Index="index" Demo="Usage" @key="_demoComponent.Title" ComponentName="@_demoComponent.Title"></CodeBox>
            </SectionContent>
        }

        @if (_demoComponent.OtherDocs != null)
        {
            foreach (var (title, doc) in _demoComponent.OtherDocs)
            {
                var alerts = doc.SplitByAlertType();

                <SectionContent Title="@title" Id="@title.HashSection()" Level="2" IsAnchor>
                    @foreach (var (type, alert) in alerts)
                    {
                        if (type == AlertTypes.None)
                        {
                            var codes = alert.SplitByCode();

                            foreach (var (lang, code) in codes)
                            {
                                if (lang != null)
                                {
                                    <AppCode Code="@HttpUtility.HtmlDecode(code.RemoveWrapTag().RemoveWrapTag())" Language="@lang"></AppCode>
                                }
                                else
                                {
                                    @((MarkupString)code.FormatLink())
                                }
                            }
                        }
                        else
                        {
                            <MAlert Type="@type" Border="Borders.Left" Text Class="m-alert--doc">
                                @((MarkupString)alert.FormatLink())
                            </MAlert>
                        }
                    }
                </SectionContent>
            }
        }

        @if (PropsList.Any() || EventsList.Any() || ContentsList.Any() || MiscList.Any())
        {
            var example = DemoItemModel.GenerateExample("zh-CN");

            <SectionContent Title="@example.Title" Id="examples" Level="2" IsAnchor>

                @if (PropsList.Any())
                {
                    var props = DemoItemModel.GenerateProps("zh-CN");

                    <SectionContent Title="@props.Title" Id="props" Level="3" IsAnchor>
                        @foreach (var item in PropsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (EventsList.Any())
                {
                    var contents = DemoItemModel.GenerateEvents("zh-CN");

                    <SectionContent Title="@contents.Title" Id="events" Level="3" IsAnchor>
                        @foreach (var item in EventsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (ContentsList.Any())
                {
                    var contents = DemoItemModel.GenerateContents("zh-CN");

                    <SectionContent Title="@contents.Title" Id="contents" Level="3" IsAnchor>
                        @foreach (var item in ContentsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (MiscList.Any())
                {
                    var misc = DemoItemModel.GenerateMisc("zh-CN");

                    <SectionContent Title="@misc.Title" Id="misc" Level="3" IsAnchor>
                        @foreach (var item in MiscList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }
            </SectionContent>
        }
    </SectionContent>

    <SectionContent Class="mt-12" Title="了解更多？" Level="1">
        <div class="mb-3">
            继续学习由
            <ALink Href="/about/meet-the-team">我们的团队</ALink>
            选择的相关内容，或通过使用下面的导航链接在页面之间跳转。
        </div>
        <RelatedPages Related="@_demoComponent?.Related" />
        <MDivider Class="my-6 mt-7 mb-5"></MDivider>
        <BottomNav></BottomNav>
        <div>
            <div class="blue-grey--text text--darken-1 d-flexalign-center justify-space-between">
                <div class="font-weight-medium d-flex align-baseline grow flex-wrap">
                    <span class="mb-2 mb-md-0">
                        在
                        <ALink Href="@GithubUrlHref">Github</ALink>
                        上编辑此页面
                    </span>
                    <div class="spacer hidden-sm-and-down"></div>
                    <div class="text-body-2">
                        <span class="font-weight-medium mr-1">最后更新：</span>
                        <span class="text--secondary">@_demoComponent.LastWriteTime</span>
                    </div>
                </div>
            </div>
        </div>
    </SectionContent>
}