@page "/components/{name}"
@page "/components"
@page "/charts/{name}"
@page "/charts"
@using BlazorComponent.Doc.Models
@using MASA.Blazor.Doc.Services
@inherits OwningComponentBase<DemoService>
@inject NavigationManager NavigationManager
@layout DocLayout

@if (_demoComponent != null)
{
    <SectionContent Title="@_demoComponent.Title" SubTitle="@_demoComponent.SubTitle" Id="@_demoComponent.Title" Level="1" IsAnchor>

        @((MarkupString)_demoComponent.Desc)

        <div class="mb-8">
            <div class="m-app-ad d-inline-flex flex-child-1 grow-shrink-0 my-2 m-vuetify-ad m-sheet m-sheet--outlined theme--light rounded" medium="docs" style="width: 100%; min-height: 74px;">
            </div>
        </div>

        @if (Usage != null)
        {
            var index = _demoIndex++;
            <SectionContent Title="@Usage.Title" Level="2" IsAnchor>
                <CodeBox Index="index" Demo="Usage" @key="_demoComponent.Title" ComponentName="@_demoComponent.Title"></CodeBox>
            </SectionContent>
        }

        @((MarkupString)_demoComponent.ApiDoc)

        @if (PropsList.Any() || EventsList.Any() || ContentsList.Any() || MiscList.Any())
        {
            var example = DemoItemModel.GenerateExample(LanguageService.CurrentCulture.Name);

            <SectionContent Title="@example.Title" Id="examples" Level="2" IsAnchor>

                @if (PropsList.Any())
                {
                    var props = DemoItemModel.GenerateProps(LanguageService.CurrentCulture.Name);

                    <SectionContent Title="@props.Title" Id="props" Level="3" IsAnchor>
                        @foreach (var item in PropsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (EventsList.Any())
                {
                    var contents = DemoItemModel.GenerateEvents(LanguageService.CurrentCulture.Name);

                    <SectionContent Title="@contents.Title" Id="events" Level="3" IsAnchor>
                        @foreach (var item in EventsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (ContentsList.Any())
                {
                    var contents = DemoItemModel.GenerateContents(LanguageService.CurrentCulture.Name);

                    <SectionContent Title="@contents.Title" Id="contents" Level="3" IsAnchor>
                        @foreach (var item in ContentsList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }

                @if (MiscList.Any())
                {
                    var misc = DemoItemModel.GenerateMisc(LanguageService.CurrentCulture.Name);

                    <SectionContent Title="@misc.Title" Id="misc" Level="3" IsAnchor>
                        @foreach (var item in MiscList)
                        {
                            var index = _demoIndex++;
                            <SectionContent Title="@item.Title" Level="4" IsAnchor>
                                <CodeBox Index="index" Demo="item" ComponentName="@_demoComponent?.Title" @key="@($"{_demoComponent.Title}-{item.Title}")"></CodeBox>
                            </SectionContent>
                        }
                    </SectionContent>
                }
            </SectionContent>
        }
    </SectionContent>
}