@inherits LayoutComponentBase

<CascadingValue Value="this" IsFixed>
    <CascadingValue Value="@IsChinese" Name="Lang">
        <MApp Class="baselayout-m-app">
            <MAppBar App Height="80" Elevation=0 Color="white" Class="pc app-bar" ClippedLeft ClippedRight>
                <img style="cursor:pointer;" class="ml-6" src="https://cdn.masastack.com/stack/images/website/masa-blazor/logo.png" @onclick=@(()=>{ Navigation.NavigateTo("/"); SelectTab = 0;}) />
                <MTabs BackgroundColor="white" Class="mtab-font" Style="margin-left:120px;" Color="black" SliderColor="purple darken-2" @bind-Value="SelectTab">
                    <MTab Style="text-transform: none"
                          Href="/">
                        @T("Home")
                    </MTab>
                    <MTab Style="text-transform: none"
                          Href="introduction/why">
                        @T("Docs")
                    </MTab>
                    <MTab Style="text-transform: none" Href="about/meet-the-team">@T("Team")</MTab>
                    <MTab Style="text-transform: none" Href="https://blogs.masastack.com/categories/Blazor/" Target="_blank">@T("Blog")</MTab>
                    <MTab Style="text-transform: none" Href="http://blazor-pro.masastack.com/" Target="_blank">Pro</MTab>
                </MTabs>

                <MSpacer></MSpacer>

                <MTextField TValue="string"
                            HideDetails="true"
                            Class="@($"mx-2 mx-md-4")"
                            Style="@($"width: 300px; opacity: 0.8; border: 1px solid {_searchBorderColor};")"
                            @onfocus="@(() => _searchBorderColor = "#C9CDD4")"
                            @onblur="@(() => _searchBorderColor = "#00000000")"
                            Flat
                            Solo
                            Dense
                            BackgroundColor="#F2F3F5"
                            Color="grey lighten-1"
                            Placeholder="@T("Search")">
                    <PrependInnerContent>
                        <MIcon Color="grey lighten-1">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>

                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton @attributes="@context.Attrs" Icon OnClick="TurnLanguage" Class="mr-6 ml-9">
                            <img style="width:24px;height:24px;" src=@("https://cdn.masastack.com/stack/images/website/masa-blazor/"+_languageIcon) />
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@T("LanguageSettings")</span>
                    </ChildContent>
                </MTooltip>
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton @attributes="@context.Attrs" Icon Href="https://github.com/BlazorComponent/Masa.Blazor" Target="_blank" Class="mr-6">
                            <MIcon Size=24 Color="black">fab fa-github</MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>GitHub</span>
                    </ChildContent>
                </MTooltip>
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton @attributes="@context.Attrs" Icon Href="https://gitee.com/blazorcomponent/MASA.Blazor" Target="_blank" Class="mr-6">
                            <img style="width:24px;height:24px;" src="https://cdn.masastack.com/stack/images/website/masa-blazor/gitee.png" />
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>Gitee</span>
                    </ChildContent>
                </MTooltip>
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton @attributes="@context.Attrs" Icon OnClick="()=>ShowSetting=true">
                            <MIcon Color="black">
                                mdi-cog
                            </MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@T("Settings")</span>
                    </ChildContent>
                </MTooltip>

            </MAppBar>

            <MAppBar App Height="106" Elevation=0 Class="phone-bar" Color="white" ClippedLeft ClippedRight>
                <div class="d-flex flex-column" style="width:100%;">
                    <MRow Align="AlignTypes.Center" Justify="JustifyTypes.SpaceBetween" NoGutters>
                        @if (!_isShowMiniLogo)
                        {
                            <MAppBarNavIcon Style="color:#000" @onclick="() => ShowDraw()"></MAppBarNavIcon>
                        }
                        else
                        {
                            <MButton Icon>
                                <img src="https://cdn.masastack.com/stack/images/website/masa-blazor/miniLogo.png" />
                            </MButton>
                        }

                        <div>
                            <MTextField TValue="string"
                                        HideDetails="true"
                                        Style="@($"width:220px; opacity: 0.8; border: 1px solid {_searchBorderColor};")"
                                        @onfocus="@(() => _searchBorderColor = "#C9CDD4")"
                                        @onblur="@(() => _searchBorderColor = "#00000000")"
                                        Flat
                                        Solo
                                        Dense
                                        BackgroundColor="#F2F3F5"
                                        Color="grey lighten-1"
                                        Placeholder="@T("Search")">
                                <PrependInnerContent>
                                    <MIcon Color="grey lighten-1">mdi-magnify</MIcon>
                                </PrependInnerContent>
                            </MTextField>
                        </div>

                        <MButton Icon OnClick="TurnLanguage">
                            <img style="width:24px;height:24px;" src=@("https://cdn.masastack.com/stack/images/website/masa-blazor/"+_languageIcon) />
                        </MButton>
                    </MRow>
                    <MRow NoGutters>
                        <MTabs ShowArrows="true" Height="40" BackgroundColor="white" Class="mtab-font" Color="black" SliderColor="purple darken-2" Optional @bind-Value="SelectTab">
                            <MTab Style="text-transform: none;" Href="/">@T("Home")</MTab>
                            <MTab Style="text-transform: none;" Href="introduction/why">@T("Docs")</MTab>
                            <MTab Style="text-transform: none;" Href="about/meet-the-team">@T("Team")</MTab>
                            <MTab Style="text-transform: none;" Href="https://blogs.masastack.com/categories/Blazor/" Target="_blank">@T("Blog")</MTab>
                            <MTab Style="text-transform: none;" Href="http://blazor-pro.masastack.com/" Target="_blank">Pro</MTab>
                        </MTabs>
                    </MRow>
                </div>
            </MAppBar>
            @Body
            <MNavigationDrawer @bind-Value="ShowSetting" Fixed Right Temporary Width="300">
                <PrependContent>
                    <MToolbar Flat Height="80">
                        <h3>
                            @T("Settings")
                        </h3>
                    </MToolbar>
                </PrependContent>
                <ChildContent>
                    <MContainer>
                        <div style="padding-left:4px">
                            <h5>@T("Mode")</h5>
                            <MButtonGroup Value="BlazorMode.Current" Style="margin-top:4px">
                                <MButton Value="BlazorMode.Server" Text Color="purple darken-2" Width="135" Href="https://blazor.masastack.com/">Server</MButton>
                                <MButton Value="BlazorMode.Wasm" Text Color="purple darken-2" Width="135" Href="https://blazor-wasm.masastack.com/">Wasm</MButton>
                            </MButtonGroup>
                        </div>
                    </MContainer>
                </ChildContent>
            </MNavigationDrawer>
        </MApp>
    </CascadingValue>
</CascadingValue>
