@inherits LayoutComponentBase

<CascadingValue Value="this">
    <CascadingValue Value="@IsChinese">
        <MApp Class="baselayout-m-app">
            <MAppBar App Height="80" Elevation=0 Color="white" Class="pc app-bar" ClippedLeft ClippedRight>
                <img style="cursor:pointer;" class="ml-6" src="https://cdn.masastack.com/stack/images/website/masa-blazor/logo.png" @onclick=@(()=>{ Navigation.NavigateTo("/"); SelectTab = 0;}) />
                <MTabs BackgroundColor="white" Class="mtab-font" Style="margin-left:120px;" Color="black" SliderColor="purple darken-2" @bind-Value="SelectTab">
                    <MTab Style="text-transform: none"
                          Href="/">
                        @T("Home")
                    </MTab>
                    <MTab Style="text-transform: none"
                          Href="introduction/why">
                        @T("Docs")
                    </MTab>
                    <MTab Style="text-transform: none" Href="about/meet-the-team">@T("Team")</MTab>
                    <MTab Style="text-transform: none" Href="https://blogs.masastack.com/categories/Blazor/" Target="_blank">@T("Blog")</MTab>
                    <MTab Style="text-transform: none" Href="http://blazor-pro.masastack.com/" Target="_blank">Pro</MTab>
                </MTabs>

                <MSpacer></MSpacer>

                <MTextField TValue="string"
                            HideDetails="true"
                            Class="@($"mx-2 mx-md-4")"
                            Style="@($"width: 300px; opacity: 0.8; border: 1px solid {_searchBorderColor};")"
                            @onfocus="@(() => _searchBorderColor = "#C9CDD4")"
                            @onblur="@(() => _searchBorderColor = "#00000000")"
                            Flat
                            Solo
                            Dense
                            BackgroundColor="#F2F3F5"
                            Color="grey lighten-1"
                            Placeholder="@T("Search")">
                    <PrependInnerContent>
                        <MIcon Color="grey lighten-1">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>

                <MButton Icon OnClick="TurnLanguage" Class="mr-6 ml-9">
                    <img style="width:24px;height:24px;" src=@("https://cdn.masastack.com/stack/images/website/masa-blazor/"+_languageIcon) />
                </MButton>
                 <MButton Icon Href="https://gitee.com/blazorcomponent/MASA.Blazor" Target="_blank" Class="mr-6">
                    <img style="width:24px;height:24px;" src="https://cdn.masastack.com/stack/images/website/masa-blazor/gitee.png"/>
                </MButton>
            </MAppBar>

            <MAppBar App Height="106" Elevation=0 Class="phone-bar" Color="white" ClippedLeft ClippedRight>
                <div class="d-flex flex-column" style="width:100%;">
                    <MRow Align="AlignTypes.Center" Justify="JustifyTypes.SpaceBetween" NoGutters>
                        @if (!_isShowMiniLogo)
                        {
                            <MAppBarNavIcon Style="color:#000" @onclick="() => ShowDraw()"></MAppBarNavIcon>
                        }
                        else
                        {
                            <MButton Icon>
                                <img src="https://cdn.masastack.com/stack/images/website/masa-blazor/miniLogo.png" />
                            </MButton>
                        }

                        <div>
                            <MTextField TValue="string"
                                        HideDetails="true"
                                        Style="@($"width:220px; opacity: 0.8; border: 1px solid {_searchBorderColor};")"
                                        @onfocus="@(() => _searchBorderColor = "#C9CDD4")"
                                        @onblur="@(() => _searchBorderColor = "#00000000")"
                                        Flat
                                        Solo
                                        Dense
                                        BackgroundColor="#F2F3F5"
                                        Color="grey lighten-1"
                                        Placeholder="@T("Search")">
                                <PrependInnerContent>
                                    <MIcon Color="grey lighten-1">mdi-magnify</MIcon>
                                </PrependInnerContent>
                            </MTextField>
                        </div>

                        <MButton Icon OnClick="TurnLanguage">
                            <img src=@("https://cdn.masastack.com/stack/images/website/masa-blazor/"+_languageIcon) />
                        </MButton>
                    </MRow>
                    <MRow NoGutters>
                        <MTabs ShowArrows="true" Height="40" BackgroundColor="white" Class="mtab-font" Color="black" SliderColor="purple darken-2" Optional @bind-Value="SelectTab">
                            <MTab Style="text-transform: none;" Href="/">@T("Home")</MTab>
                            <MTab Style="text-transform: none;" Href="introduction/why">@T("Docs")</MTab>
                            <MTab Style="text-transform: none;" Href="about/meet-the-team">@T("Team")</MTab>
                            <MTab Style="text-transform: none;" Href="https://blogs.masastack.com/categories/Blazor/" Target="_blank">@T("Blog")</MTab>
                            <MTab Style="text-transform: none;" Href="http://blazor-pro.masastack.com/" Target="_blank">Pro</MTab>
                        </MTabs>
                    </MRow>
                </div>
            </MAppBar>
            @Body
        </MApp>
    </CascadingValue>
</CascadingValue>
