@using BlazorComponent.Doc.Extensions
<section id="@SectionId" class="@Class">
    <HTag Level="@Level" Title="@FormattedTitle" Href="@SectionId" IsAnchor="IsAnchor" OnClick="HandleOnClick"/>

    @ChildContent
</section>

@code {

    [Inject]
    private IJSRuntime Js { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    [EditorRequired]
    public int Level { get; set; }

    [Parameter]
    [EditorRequired]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public bool IsAnchor { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string FormattedTitle => string.IsNullOrEmpty(SubTitle) ? Title : $"{Title}（{SubTitle}）";

    private string SectionId => Id ?? Title.HashSection();

    private async void HandleOnClick(MouseEventArgs _)
    {
        var element = await Js.InvokeAsync<BlazorComponent.Web.Element>(JsInteropConstants.GetDomInfo, "#" + SectionId);

        var options = new
        {
            Top = element.OffsetTop,
            Left = 0,
            Behavior = "smooth"
        };

        await Js.InvokeVoidAsync("window.scrollTo", options);
    }

}