<div>
    <MSlider @bind-Value="_ex1.Val"
             Color="@_ex1.Color"
             Label="@_ex1.Label"></MSlider>

    <MSlider @bind-Value="_ex2.Val"
             Label="@_ex2.Label"
             TrackColor="@_ex2.Color"></MSlider>

    <MSlider @bind-Value="_ex3.Val"
             Label="@_ex3.Label"
             ThumbColor="@_ex3.Color"
             ThumbLabel="@("always")"></MSlider>
</div>

  @code {
    public class Slider
    {
        public string Label { get; set; }

        public double Val { get; set; }

        public string Color { get; set; }
    }

    private Slider _ex1 = new Slider
        {
            Label = "color",
            Val = 25,
            Color = "orange darken-3"
        };

    private Slider _ex2 = new Slider
        {
            Label = "track-color",
            Val = 75,
            Color = "green lighten-1"
        };

    private Slider _ex3 = new Slider
        {
            Label = "thumb-color",
            Val = 50,
            Color = "red"
        };
  }

