<div class="d-flex flex-column align-start mb-2 app-heading">
    <h1 class="m-heading text-h3 text-sm-h3" id="@Meta.Title.HashToAnchorString()">@Meta.Title</h1>
    @if (!string.IsNullOrWhiteSpace(Meta.Tag))
    {
        <MChip Class="mt-2 mr-2" Small Color="primary">@Meta.Tag</MChip>
    }
    @if (AdditionalTags.Any())
    {
        foreach (string item in AdditionalTags)
        {
            <MChip Class="mt-2 mr-2" Small Color="primary">@item</MChip>
        }
    }
</div>

<MMarkdownIt Source="@Meta.Description" NoWrapper Scope="desc"></MMarkdownIt>

@ChildContent

@code {

    [Parameter]
    [EditorRequired]
    public FrontMatterMeta Meta { get; set; } = null!;

    [Parameter]
    public List<string> AdditionalTags { get; set; } = new();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        ArgumentNullException.ThrowIfNull(Meta);
    }

}
