@namespace Masa.Blazor.Presets
@inherits BDomComponentBase

@if (Visible)
{
    <MTooltip Top Disabled="TooltipDisabled">
        <ActivatorContent>
            <span style="padding: 4px;@Style" class="@Class">
                <MButton Color="@ComputedColor"
                         Dark="@ComputedDark"
                         Depressed="@ComputedDepressed"
                         Disabled="@ComputedDisabled"
                         Icon="(ActionType == ActionTypes.Icon)"
                         Large="@ComputedLarge"
                         Light="@ComputedLight"
                         Loading="@_loading"
                         Outlined="@ComputedOutlined"
                         Plain="@ComputedPlain"
                         Rounded="@ComputedRounded"
                         Small="@ComputedSmall"
                         Text="@ComputedText"
                         Tile="@ComputedTile"
                         XLarge="@ComputedXLarge"
                         XSmall="@ComputedXSmall"
                         OnClick="HandleOnClick"
                         @ref="ButtonForwardRef"
                         @attributes="context.Attrs">

                    @if (ShowIcon)
                    {
                        <MIcon Left="ActionType == ActionTypes.IconLabel" @ref="IconForwardRef">@ComputedIcon</MIcon>
                    }

                    @if (ShowLabel)
                    {
                        <span @ref="LabelRef">
                            @if (ChildContent != default)
                            {
                                @ChildContent
                            }
                            else
                            {
                                @ComputedLabel
                            }
                        </span>
                    }

                </MButton>
            </span>
        </ActivatorContent>

        <ChildContent>
            @if (ComputedTip != default)
            {
                @ComputedTip
            }
            else if (ChildContent != default)
            {
                @ChildContent
            }
            else
            {
                @ComputedLabel
            }
        </ChildContent>
    </MTooltip>
}