@namespace MASA.Blazor.Presets
@inherits BDomComponentBase

<MTooltip Top Disabled="TooltipDisabled">
    <ActivatorContent>
        <span style="padding: 4px;@Style" class="@Class">
            <MButton Color="@ComputedColor"
                     Dark="Dark"
                     Depressed="@Depressed"
                     Disabled="Disabled"
                     Icon="(ActionType == ActionTypes.Icon)"
                     Large="@Large"
                     Light="@Light"
                     Loading="@_loading"
                     Outlined="@Outlined"
                     Plain="@Plain"
                     Rounded="@Rounded"
                     Small="@Small"
                     Text="@Text"
                     Tile="@Tile"
                     XLarge="@XLarge"
                     XSmall="@XSmall"
                     Click="HandleClick"
                     @ref="ButtonForwardRef"
                     @attributes="context.Attrs">

                @if (ShowIcon)
                {
                    <MIcon Left="ActionType == ActionTypes.IconLabel" @ref="IconForwardRef">@Icon</MIcon>
                }

                @if (ShowLabel)
                {
                    <span @ref="LabelRef">@Label</span>
                }

            </MButton>
        </span>
    </ActivatorContent>

    <ChildContent>
        @(Tip ?? Label)
    </ChildContent>
</MTooltip>