<div>
    <Divider Orientation="left">Align Top</Divider>
    <MRow Align="start">
        <MCol Span="3">
            @DemoBox((100, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((50, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((120, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((80, "MCol-3"))
        </MCol>
    </MRow>

    <Divider Orientation="left">Align Middle</Divider>
    <MRow  Align="center">
        <MCol Span="3">
            @DemoBox((100, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((50, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((120, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((80, "MCol-3"))
        </MCol>
    </MRow>

    <Divider Orientation="left">Align Bottom</Divider>
    <MRow Align="end">
        <MCol Span="3">
            @DemoBox((100, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((50, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((120, "MCol-3"))
        </MCol>
        <MCol Span="3">
            @DemoBox((80, "MCol-3"))
        </MCol>
    </MRow>
</div>

<style>
    #components-grid-demo-flex-align [class~='row'] {
        background: rgba(128, 128, 128, 0.08);
    }
    #components-grid-demo-flex-align [class~='col'] p {
        background: rgba(0, 161, 255, 1);
    }
</style>

@code{
    RenderFragment<(int value, string children)> DemoBox = props =>@<p style="@($"height: {props.value}px")">@props.children</p>;
}
