@{
    string style="background: #0092ff; padding: 8px 0;";
    Dictionary<string, int> gutter = new()
    {
        ["xs"] = 8,
        ["sm"] = 16,
        ["md"] = 24,
        ["lg"] = 32,
        ["xl"] = 48,
        ["xxl"] = 64
    };
}
<div>
    <Divider Orientation="left">Horizontal</Divider>
    <MRow Gutter="16">
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
    </MRow>
    <Divider Orientation="left">Responsive</Divider>
    <MRow Gutter="@gutter">
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
    </MRow>
    <Divider Orientation="left">Vertical</Divider>
    <MRow Gutter="(16,24)">
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
        <MCol Class="gutter-MRow" Span="6">
            <div style="@style">col-6</div>
        </MCol>
    </MRow>

</div>

<style>
    .gutter-box {
        padding: 8px 0;
        background: #00a0e9;
    }
</style>
