@namespace Masa.Docs.Shared.Components

<a href="@ComputedHref"
   target="@_target"
   class="app-link text-decoration-none primary--text font-weight-medium d-inline-block"
   @onclick="@OnClick"
   @attributes="@Attributes">
    @Content

    @if (Icon is null)
    {
        <MIcon Class="@($"m{(IsSamePage ? "r" : "l")}-1")" Color="primary" Size="@(".875rem")">@Icon</MIcon>
    }
</a>
